.bloco-cadastro {
    
    background-color: #297baa5e;
    margin-top: 7%;
    border-radius: 15px 15px 15px 15px;
    padding-bottom: 40px;
    -webkit-box-shadow: 0px 0px 24px 9px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 24px 9px rgba(0,0,0,0.68);
}

.bloco-cadastro h3 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
}

.turma h3{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
}

.bloco-input label {
    font-size: 19px;
    margin-top: 10px;
}

.btn-salvar {
    margin-top: 25px;
    height: 50px;
    font-size: 20px;
    min-width: 100%;
}



